.FormPessoal {
    background-color: #F1E3F4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #003D57;
}

.container_form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FormPessoal h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container_form label {
    display: block;
    margin-bottom: 5px;
    color: #777;
}

.container_form input[type="text"],
.container_form input[type="number"],
.container_form input[type="date"] {
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(0, 61, 87, 60%);
    border-radius: 20px;
    background-color: #8FB8EC;
    outline: none;
    font-size: 16px;
    color: black;
}

.container_form button {
    background-color: transparent;
    border-color: rgb(0, 61, 87, 60%);
    color: #003D57;
    font-weight: bold;
    font-size: 24px;
    border-radius: 4px;
    outline: none;
}

.container_form button:hover {
    background-color: #8FB8EC;
}