@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
}

.Home-Meio {
  background-color: #F1E3F4;
  min-height: 100vh;
  width: 1512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #003D57;
}

.Titulo {
  margin: 120px 0 90px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #003D57;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texto1 {
  display: flex;
  width: 771px;
  height: 639px;
  flex-direction: column;
  flex-shrink: 0;
}

.texto1 p {
  color: #4F5193;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.foto1 {
  margin-bottom: 220px;
  margin-left: 20px;
  width: 457px;
}

.estatisticas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foto2 {
  width: 595px;
  height: 402px;
  margin-right: 69px;
}

.texto2 {
  display: flex;
  width: 529px;
  height: 430px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.texto2 p {
  color: #4F5193;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.texto2-1 {
  width: 1383px;
}

.texto2-1 p {
  color: #4F5193;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.texto3 {
  width: 1348px;
}

.texto3 p {
  color: #4F5193;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.texto3-1 {
  width: 720px;
}

.texto3-1 p {
  color: #4F5193;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.solucao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foto3 {
  width: 627px;
  height: 376px;
  flex-shrink: 0;
}

.Infos {
  margin: 0 auto;
  padding: 20px;
}

.Infos p {
  color: white;
}

.Infos ul {
  padding-left: 20px;
}

.Missao {
  background: #C2BBEF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1332px;
  height: 490px;
  margin-top: 164px;
  margin-bottom: 27px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Missao img {
  width: 139px;
  height: 124px;
  margin-left: 45px;
}

.Missao h2 {
  color: #003D57;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Missao-texto {
  display: flex;
  width: 807px;
  height: 255px;
  margin-right: 67px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.Missao p {
  color: #FFF;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Valores {
  width: 1332px;
  height: 490px;
  margin-bottom: 27px;
  background: #009EE2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Valores img {
  width: 124px;
  height: 101px;
  margin-left: 45px;
}

.Valores h2 {
  color: #003D57;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Valores ul {
  width: 807px;
  margin-right: 67px;
}

.Valores p {
  color: #FFF;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Visao {
  width: 1332px;
  height: 490px;
  flex-shrink: 0;
  background: #0E5E81;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Visao img {
  width: 139px;
  height: 105px;
  margin-left: 45px;
}

.Visao h2 {
  color: #003D57;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.caixa-texto {
  display: flex;
  width: 791px;
  height: 295px;
  margin-right: 67px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.caixa-texto p {
  color: #FFF;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}