@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Form-Medioes input {
    margin-left: 98px;
    width: 400px;
    height: 36px;
    border-radius: 10px;
    background: rgba(222, 211, 242, 0.80);
}

.botao-esquerda {
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.BotaoAdicionar {
    margin-top: 38px;
    color: #6265AD;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    width: 250px;
    height: 47px;
    border-radius: 50px;
    border: 2px solid rgba(0, 61, 87, 0.60);
    background: rgba(255, 255, 255, 0.00);
}

.BotaoAdicionar img {
    margin-right: 10px;
    width: 20px;
}

.BotaoFinalizar {
    width: 321px;
    height: 64px;
    margin-top: 80px;
    margin-bottom: 60px;
    border: 2px solid rgba(0, 61, 87, 0.60);
    background: rgba(255, 255, 255, 0.00);
    color: #6265AD;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}